@model string
@{
    Layout = "~/Views/PartialView/Layout.cshtml";
}
<style>
    input[type=text]:disabled {
        background: #dddddd;
    }

    input[type=email]:disabled {
        background: #dddddd;
    }
</style>
<link rel="stylesheet" href="~/css/StyleRegister.css" asp-append-version="true" />
<script src="~/js/AgentRegi.js"></script>

<div ng-app="MyAppAgentReg" class="" ng-controller="AgentRegController" ng-init="init('@Model')">
    <div style="margin-left: 380px;width: 744px; height: auto; padding-bottom: 41px; background: white; flex-direction: column; justify-content: flex-start; align-items: center; gap: 40px; display: inline-flex">
        <div class="OfficialLogoRe360" style="">
            <div class="Group" style="width: 117.80px; height: 117.80px; position: relative">
                <img src="~/images/logore360.png" />
            </div>
        </div>
        <div class="TitleRegister">
            <div class="Register"><span ng-bind="Header"></span> </div>
            <br />
        </div>
        <div class="RegisterForm">
            <form name="regForm" novalidate>
                <div class="FormFields" style="flex-direction: column; justify-content: center; align-items: flex-start; gap: 24px; display: flex">
                    <div class="DefaultFormFields">
                        <input type="email" id="txtEmail" name="email" ng-disabled="AgentID!=''" ng-model="Model.email" ng-pattern="/^[^\s]+[^\s]+\.[^\s]{2,}$/" required placeholder="Email ID" class="DefaultFormFieldsLabel" />
                        <span class="text-danger" ng-show="(regForm.$submitted || regForm.email.$touched) && regForm.email.$error.required">Email ID is required.</span>
                        <span class="text-danger" ng-show="regForm.email.$dirty && regForm.email.$error.pattern">Please Enter Valid Email.</span>
                    </div>
                    <div class="DefaultFormFields">
                        <input type="text" id="txtFirstName" name="firstName" ng-disabled="AgentID!=''" required ng-model="Model.firstName" placeholder="First name" class="DefaultFormFieldsLabel" />
                        <span class="text-danger" ng-show="(regForm.$submitted || regForm.firstName.$touched) && regForm.firstName.$error.required">First name is required.</span>
                    </div>
                    <div class="DefaultFormFields">
                        <input type="text" id="txtLastName" name="lastName" ng-disabled="AgentID!=''" ng-required="true" ng-model="Model.lastName" placeholder="Last name" class="DefaultFormFieldsLabel" />
                        <span class="text-danger" ng-show="(regForm.$submitted || regForm.lastName.$touched) && regForm.lastName.$error.required">Last name is required.</span>
                    </div>
                    <div class="DefaultFormFields">
                        <select class="DefaultDDLFieldsLabel" name="companyName" ng-required="true" ng-model="Model.companyName" asp-for="CompanyName" id="ddlCompany">
                            <option style="color:#AFAFAD" value="" disabled selected hidden>Select Company Name</option>
                            <option value="Company1">Company1</option>
                            <option value="Company2">Company2</option>
                            <option value="Company3">Company3</option>
                        </select>
                        <span class="text-danger" ng-show="(regForm.$submitted || regForm.companyName.$touched) && regForm.companyName.$error.required">Company Name is required.</span>
                    </div>
                    <div class="DefaultFormFields">
                        <input type="text" id="txtManagerEmail" name="manageremail" ng-pattern="/^[^\s]+[^\s]+\.[^\s]{2,}$/" ng-required="true" ng-model="Model.managerEmail" placeholder="Manager Email" class="DefaultFormFieldsLabel" />
                        <span class="text-danger" ng-show="(regForm.$submitted || regForm.manageremail.$touched) && regForm.manageremail.$error.required">Manager Email is required.</span>
                        <span class="text-danger" ng-show="regForm.manageremail.$dirty && regForm.manageremail.$error.pattern">Please Enter Valid Manager Email.</span>
                    </div>
                    <div class="DefaultFormFields">
                        <input type="text" id="txtOfficeName" name="offincename" ng-required="true" ng-model="Model.offinceName" placeholder="Office name" class="DefaultFormFieldsLabel" />
                        <span class="text-danger" ng-show="(regForm.$submitted || regForm.offinceName.$touched) && regForm.offincename.$error.required">Office name is required.</span>
                    </div>
                    <div class="CommissionBreakdown">
                        <div class="TitleCommission">
                            <div class="Commission">CREATE COMMISSION STRUCTURE</div>
                        </div>
                        <div style="width: 264px; height: 80px; position: relative">
                            <div style="width: 264px; height: 80px; left: 0px; top: 0px; position: absolute; flex-direction: column; justify-content: center; align-items: flex-start; gap: 8px; display: inline-flex">
                                <div class="comlbl">
                                    Base amount (excl. GST)
                                </div>
                                <input type="text" id="txtBaseAmnt" only-digits name="baseAmount" ng-model="Model.baseAmount" placeholder="$ 0.00" style="align-self: stretch; padding: 12px; background: #FBFBFA; border-radius: 8px; border: 0.60px #AFAFAD solid; justify-content: flex-start; align-items: center; gap: 4px; display: inline-fle" />
                            </div>
                        </div>
                        <div id="dvPerSalePrc" ng-hide="ShowSalePricePer" style="width: 322.91px; height: 80px; position: relative;">
                            <div style="width: 264px; height: 80px; left: 0px; top: 0px; position: absolute; flex-direction: column; justify-content: center; align-items: flex-start; gap: 8px; display: inline-flex">
                                <div class="comlbl">
                                    % Of the sale price
                                </div>
                                <input type="text" id="txtSalepr" only-digits name="salePricePercantage" ng-model="Model.salePricePercantage" placeholder="% 0.00" class="cmbinp" />
                            </div>
                            <div style="width: 36px;height: 36px;left: 272px;top: 30.46px;position: absolute;/* transform: rotate(-45deg); *//* transform-origin: 0 0; */">
                                <img src="~/images/delete.png" ng-click="deletePercentage(true)" />
                            </div>
                        </div>
                        <div ng-repeat="item in Model.commisions | orderBy:'sequence'">
                            <div class="priceDv" id="pricedv1" style="display:block;" ng-show="$index==0">
                                <div class="perdv">
                                    <div class="comlbl">
                                        Percent
                                    </div>
                                </div>
                                <div ng-hide="$index==Model.commisions.length-1">
                                    <div class="comldv">
                                        <div class="comlbl">
                                            Up to amount
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="priceDv" id="pricedv1" style="display:block;">
                                <div class="perdv">
                                    <input type="text" id="txtutoperc" only-digits name="item.percent{{$index}}" ng-model="item.percent" placeholder="% 0.00" class="cmbinp" />
                                </div>
                                <div class="upto2">
                                    <div class="uptocls"> <span ng-bind="$index==Model.commisions.length-1?'There after':'Up to'"></span>  </div>
                                </div>
                                <div ng-hide="$index==Model.commisions.length-1">
                                    <div class="comldv">
                                        <input type="text" id="txtutoamnt" only-digits name="item.upToAmount{{$index}}" ng-model="item.upToAmount" placeholder="$ 0.00" class="cmbinp" />
                                    </div>
                                    <div class="delcls">
                                        <img src="~/images/delete.png" ng-click="DeleteCommision(item)" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />
                        <button id="btnShowPerSalePrc" type="button" ng-click="AddCommision()" style="width: 274px; height: 41px; padding: 16px; background: #001F49; box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.04); border-radius: 8px; justify-content: center; align-items: center; gap: 12px; display: inline-flex">
                            <div style="width: 24px; height: 24px; position: relative">
                                <img src="~/images/plus.png" />
                            </div>
                            <div style="text-align: center; color: white; font-size: 18px; font-family: sans-serif; font-weight: 700; line-height: 24px; word-wrap: break-word">Add Commission Band</div>
                        </button>
                        <div style="width: 100%; height: 100%; flex-direction: column; justify-content: center; align-items: flex-start; gap: 8px; display: inline-flex">
                            <div class="comlbl">
                                Minimum Commission (excl. GST) (Optional)
                            </div>
                            <input type="text" id="txtComms" only-digits name="minimumCommission" ng-model="Model.minimumCommission" placeholder="$ 0.00" style="width:308px; align-self: stretch; padding: 12px; background: #FBFBFA; border-radius: 8px; border: 0.60px #AFAFAD solid; justify-content: flex-start; align-items: center; gap: 4px; display: inline-flex" />
                        </div>
                    </div>
                    <div class="CheckboxAcceptConditions" style="justify-content: flex-start;/* align-items: center; */gap: 20px;display: inline-flex">
                        <div class="round">
                            <input type="checkbox" checked id="checkbox" />
                            <label for="checkbox"></label>
                        </div>
                        <div class="AcceptText" style="/*border-bottom: 0.30px #001F49 solid;*/ justify-content: flex-start; align-items: center; gap: 4px; display: flex">
                            <a href="#" class="IAcceptAllTermsAndConditions" style="color: #001F49; font-size: 16px; font-family: sans-serif; font-weight: 500; line-height: 24px; word-wrap: break-word">
                                I accept all terms and conditions.
                        </div>
                    </div>
                </div>
                <br />
                <button type="submit" ng-click="SaveUser()" class="ButtonCtas">
                    <div class="PrimaryDefault" style="flex: 1 1 0; text-align: center; color: white; font-size: 18px; font-family: sans-serif; font-weight: 700; line-height: 24px; word-wrap: break-word">
                        <span ng-bind="btnText"></span>
                    </div>
                </button>
            </form>
        </div>
    </div>
    <div>
        <center>
            <toaster-container toaster-options="{'toaster-id': 'notification', 'time-out':{ 'toast-warning': 1000, 'toast-error': 0 }}">
            </toaster-container>
            <toaster-container toaster-options="{'toaster-id': 'page-validation', 'position-class': 'toast-center', 'limit': 5}">
            </toaster-container>
            <script type='text/ng-template' id='validation-error-toast.html'>
                {{totalErrors}} Errors found
                <button class="toast-button" ng-click="more()">More</button>
            </script>
        </center>
    </div>
    <div ng-show="imgloader" class="preloader">
        <img src="~/images/loadernew.gif" ng-show="imgloader" />
    </div>
</div>

